<div class="container">
	<div class='well text-center'> 

		<h2>about this site</h2>
		</br>
		<p>This site allows a user to input a city name and get today's weather and events for that city. The site uses the open weather map api for the weather information, and the eventful api for the event information.</p>

	</div>
</div>

