<div class="container">
	<div class='well text-center'> 

		<h2>Profile for <%= current_user.name %></h2>

		<h4>My Favorite Cities:</h4>
		<% @cities.each do |c| %>
			<p><%= link_to c.name, show_path(c.name) %></p>
		<% end %>

	</div>
<div>