<div id="footer">
  <div class="container" style="color:white;">
  </br>
	</br>
    <p class="footer-block">Copyright 2015 CitySearch</p>	
    <p>About   Privacy Policy   Terms/Conditions</p>
  </br>
 	</div>
</div>